.black, .yellow {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.black {
    color: rgb(255, 255, 255);
    background-color: #000000;
}

.yellow {
    background-color: hsl(60, 100%, 50%);
}